body {
    background-color: rgb(51,48,41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header {
    background-color: rgb(75, 69, 57);
    color: white;
}

nav {
    margin: 0px;
    padding: 0px;
}
canvas {
    display: block;
    margin-bottom: 20px;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
    h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-decoration: underline;
}
h2 {
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
h4 {
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
p {
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
a {
    color: rgb(76, 89, 173);
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
li {
    color: white;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 20px 0;
}
#headTitle {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
#headBody {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
